#canvas-background {
    background-color: grey;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 800px;
}

#container {
    width: 770px;
    height: 770px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    border: 1px solid black;
    float: left;
}

#palette {
    width: 448px;
    height: 75px;
    margin: 0 auto;
    background-color: dimgrey;
}

.pen {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    margin: 1%;
}